<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User List</title>
  </head>
  <body>
    <h1>User List</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td>
          <a th:href="@{/user/edit/{id}(id=${user.id})}">Edit</a>
          <a th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a>
        </td>
      </tr>
    </table>
    <a href="/">Go back</a>
  </body>
</html>
