<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Wallet</title>
  </head>
  <body>
    <h1>Create Wallet</h1>
    <form
      action="#"
      th:action="@{/api/wallets}"
      th:object="${wallets}"
      method="post"
    >
      <label for="currency">Currency:</label>
      <select id="currency" name="currency" th:field="*{currency}" required>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="GBP">GBP</option>
        <option value="TRY">TRY</option>
      </select>
      <br />
      <label for="balance">Balance:</label>
      <input
        type="number"
        id="balance"
        name="balance"
        th:field="*{balance}"
        required
      />
      <br />
      <label for="owner">Owner:</label>
      <select id="owner" name="owner" th:field="*{owner}" required>
        <option
          th:each="user : ${users}"
          th:value="${user.id}"
          th:text="${user.username}"
        ></option>
      </select>
      <br />
      <button type="submit">Payment</button>
    </form>
    <div
      th:if="${errorMessage}"
      th:text="${errorMessage}"
      style="color: red"
    ></div>
    <a href="/">Go back</a>
  </body>
</html>
